button {
    padding: 21px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.panel {
	text-align: center;
}
footer {
	margin-top: 64px;
}
input[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
li a {line-height:1.8;}@media(min-width:60em){li a{line-height:1.2;}}

