<!doctype html>
<html lang="jbo" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="css/memimoi.css">
    <title>{{ page.title }}</title>
 </head>
  <body>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div>
	<script type="text/javascript">
	if (history.length < 2) {
		document.write("<a href='javascript:self.close()'>co'u tcidu</a>");
	} else {
		document.write("<a href='javascript:history.back()'>prulampapri</a>");
	}
	</script>
      </div>
      <div>
    	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">stika detri: {{ page.date | date: "%Y-%m-%d" }}</time>
      </div>
    </footer>
  </body>
</html>
